<%= render :partial=>"shared/navigation"%>
<h1 id="add" class="titre">Nouvel utilisateur</h1>

<div id="zone1">
  <% form_for(@utilisateur) do |f| %>
    <%= f.error_messages %>

    <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
    </p>
    <p>
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom %>
    </p>
    <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
    </p>
    <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
    </p>
    <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label "Fonction" %><br />
    <%= f.select :fonction_id, @fonctions %>
    </p>
    <p>
    <%= f.label "Service" %><br />
    <%= f.select :service_id, @services %>
    </p>
    <p>
    <%= f.label "Site" %><br />
    <%= f.select :site_id, @sites%>
    </p>
    <p>
    <%= f.label "Etablissement" %><br />
    <%= f.select :etablissement_id, @etablissements %>
    </p>
    <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
    </p>
    <p>
    <%= f.submit 'Cr&eacute;er' %>
    </p>
  <% end %>
</div>

<div id="annuler" class="selected">
  <%= link_to 'Annuler', utilisateurs_path %>
</div>
