<h1 id="listing-etablissements" class="titre">Etablissements</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Directeur</th>
    <th class="actions">Actions</th>
  </tr>

<% @etablissements.each do |etablissement| %>
  <tr>
    <td><%=h etablissement.nom %></td>
    <td><%=h etablissement.directeur.nom.upcase+" "+etablissement.directeur.prenom.capitalize unless etablissement.directeur.nil? %></td>
    <td><%= link_to image_tag("voir.png", :size=>"22x22",:border=>0), etablissement %>
      <%= link_to image_tag("modifier.png", :size=>"22x22",:border=>0), edit_etablissement_path(etablissement),:class=>"modifier" %>
      <%= link_to image_tag("supprimer.png", :size=>"22x22",:border=>0), etablissement, :confirm => 'Vous confirmez la suppression ?', :method => :delete,:class=>"supprimer" %></td>
  </tr>
<% end %>
</table>

<br />

<div id="nouveau-lien" class="nouveau">
  <%= link_to 'Nouvel &eacute;tablissement', new_etablissement_path %>
</div>
