<h1 id="add" class="titre">Nouvel établissement</h1>

<% form_for(@etablissement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label 'Directeur' %><br />
    <%= f.text_field :utilisateur_id %>
  </p>
  <p>
    <%= f.submit 'Créer' %>
  </p>
<% end %>

<%= link_to 'Retour', etablissements_path %>
